@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

@tailwind base;
@tailwind components;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

html {
  scroll-behavior: smooth;
}

@tailwind utilities;

@font-face {
  font-family: "Luthier";
  src: url("../public/fonts/LuthierFF/Luthier-Regular.ttf");
}

@layer utilities {
  .clip-to-hex {
    clip-path: path(
      "M 252.9 0 H 84.3 L 0 146 l 84.3 146 h 168.6 l 84.3 -146 Z"
    );
  }
}
